*{
    margin: 0px;
    padding: 0px;
}
#id ul{
    background-color: darkolivegreen;
    list-style-type: none;
    display: flex;
}
nav{
    display: flex;
}
body{
    background-color: darkslategray;
}